.contact {
	@include background(linear-gradient(top, #aeaeae, #3e3e3e)); // change colors later!!
	a{
		color: #fff;
		&:hover {
			color: #333;
			@include transition(.2s linear);
		}
	}
	li {
		list-style: none;
		font-size: .95em;
	}
}

.footer-menu {
	padding-bottom: .25em;
	a:hover {
		color: #aeaeae;
		@include transition(.2s linear);
	}
}
