.contact {
	@include background-image(radial-gradient(145px 145px, #FFDA73 200px, #FFCD40 500px));
	a{
		color: #fff;
		&:hover {
			color: #333;
			@include transition(.2s linear);
		}
	}
	li {
		list-style: none;
		font-size: .95em;
	}
}

.footer-menu {
	padding-bottom: .25em;
	a:hover {
		color: #aeaeae;
		@include transition(.2s linear);
	}
}
