.contact {
	/* @include background-image(radial-gradient(145px 145px, rgba(0, 82, 156, 0.5) 200px, #3E3E3E 500px)); */

	.footer-menu {
		padding-bottom: .25em;
		@extend .links;
	}

	a{
		color: #555;
		&:hover {
			color: #333;
			@include transition(.2s linear);
		}
	}
	li {
		list-style: none;
		font-size: .95em;
	}
}


